﻿@model IEnumerable<copypedia.Models.Category>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { controller = "Categories", id = item.CategoryId })
        </td>
    </tr>
}
</table>
