﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CopyPedia</h1>
    <p class="lead">the free copy of a free encyclopedia that anyone can edit.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Recent Articles</h2>
        @Html.Action("RecentArticles")
    </div>
    <div class="col-md-6">
        <h2>Categories</h2>
        @Html.Action("Categories")
    </div>
</div>