﻿@using copypedia.Models;


@model copypedia.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>@Model.Title</h1>
        @Html.Raw(Model.Content)
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Changes</h3>
        <table class="table table-bordered">
            <tr>
                <th>Created on</th>
                <th>Message</th>
                <th>Author</th>
            </tr>
            @* TODO: Add table headers *@
            @foreach (ArticleDiff diff in Model.Diffs)
            {
            <tr>
                <td>@diff.CreationDateTime</td>
                <td>@Html.RouteLink(diff.Message, new { action = "Details", controller = "ArticleDiffs", id = diff.ArticleDiffId })</td>
                <td>@Html.RouteLink(diff.Author.UserName, new { action = "Details", controller = "Users", id = diff.Author.Id })</td>
            </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal pull-right">
            <dt>
                Author
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.UserName)
            </dd>
            @if (Request.IsAuthenticated)
            {
                if (User.Identity.Name.Equals(Model.Author.UserName) || !User.IsInRole("User"))
                {
                    using (Html.BeginForm("SetEditable", "Articles", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ArticleId)
                        <dt>
                            @Html.LabelFor(model => model.IsEditable)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.IsEditable)
                            <input class="form-control" type="submit" value="Save editable status" />
                        </dd>
                    }
                }
            }
        </dl>
    </div>
</div>