﻿@model IEnumerable<copypedia.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Author.UserName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
        </td>
    </tr>
}

</table>
