﻿@model IEnumerable<copypedia.Models.Article>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="search-result">
            @Html.ActionLink(item.Title, "Details", new { controller = "Articles", id = item.ArticleId })
        </td>
        <td class="search-result">
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleId })
        </td>
    </tr>
}

</table>

@section scripts {
    <script>
        var s = "@Request.Params[0]";
        var highlight = "<span class='search-highlight'>" + s + "</span>";
        $(".search-result").each(function () {
            var text = $(this).html();
            $(this).html(text.replace(new RegExp(s, 'g'), highlight));
        });
    </script>
}
