﻿@model IEnumerable<copypedia.Models.Article>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Details", new { id = ViewBag.CategoryId, sortType = "byTitle" })
        </th>
        <th>
            Author
        </th>
        <th>
            @Html.ActionLink("Created on", "Details", new { id = ViewBag.CategoryId, sortType = "byCreation" })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { controller = "Articles", id = item.ArticleId })
        </td>
        <td>
            @Html.ActionLink(item.Author.UserName, "Details", new { controller = "Users", id = item.Author.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
    </tr>
}

</table>
