﻿@model copypedia.Models.Category

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Model.Name</h2>

    @Html.Action("ArticleList", new { categoryId = Model.CategoryId, sortType = ViewBag.SortType })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
