﻿@model IEnumerable<copypedia.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.CategoryId })
                    </td>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</div>
