﻿@model copypedia.Models.ArticleDiff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleDiff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Content)
        </dd>
    </dl>
</div>

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Editor") || User.IsInRole("Admin"))
    {
        @* TODO: Add form to apply diff *@
        using (Html.BeginForm(new { action = "Apply" }))
        {
            @Html.AntiForgeryToken()

            @* TODO: If this is the most recent diff then don't revert to it because it is already applied *@
            @Html.Hidden("ArticleDiffId", Model.ArticleDiffId);
            <input type="submit" value="Revert to this" class="btn btn-default" />
        }
    }
}
